/* Layout */

/* Top-level layout */

body {
	display: grid;
	grid-template-columns: 1fr 4fr; /* TODO responsive */
	grid-auto-flow: dense;
}

#main-nav {
	grid-row: span 2;
}

header {
	grid-column: -2 / -1;
}

main {
	grid-column: -2 / -1;
}

/* Sidebar layout */

#main-nav {
	display: grid;
	align-content: start;
	gap: 4ex;
}

/* Header layout */

header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}

header > * {
	display: flex;
	align-items: center;
}

.search-bar input {
	flex-grow: 1;
}

#account-buttons {
	justify-self: center;
}

#account-buttons > button,
#account-buttons > img {
	height: 2em;
}

.greeting > img {
	height: 3em;
}

.top-actions {
	justify-content: space-around;
}

/* Card layout */

main {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

main > .projects {
	grid-row: span 2;
}

.response-buttons {
	align-self: end;
	display: flex;
}

.projects > ol {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
	grid-auto-rows: minmax(7em, auto);
}

.projects > ol > li {
	display: flex;
	flex-direction: column;
}

.trending > ol {
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-flow: dense;
}

.trending > ol > li {
	display: contents;
}

.trending .pfp {
	grid-row: span 2;
}

.trending h3, .trending p {
	grid-column: 2;
}

/* Spacing */

body {
	margin: 0;
	height: 100svh;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#main-nav li,
#main-nav div {
	display: flex;
	align-items: center;
}

.icon {
	height: 1em;
	width: 1em
}

p {
	margin: 0;
}

.pfp {
	width: 3em;
	height: 3em;
}

h1, h2, h3 {
	font-size: 1em;
	margin: 0;
}

main {
	font-size: 0.9rem;
}

.trending h3, main p {
	font-size: 0.8rem;
	font-weight: normal;
}

/* Style */

body {
	font-family: sans-serif;
	font-weight: bold;
}

p {
	font-weight: normal;
}

header p {
	font-weight: bold;
}

/* Color */

body {
	background-color: #E2E8F0;
	color: #000000;
}

header,
.projects > ol > li,
.announcements > ol,
.trending > ol {
	background-color: #FFFFFF;
	color: #000000;
}

#main-nav {
	background-color: #1992D4;
	color: #FFFFFF;
}

#main-nav .icon {
	filter: invert(100%);
}

/* Icons */

.icon.dashboard {
	content: url('emoticon-cool.svg');
	width: 1.7em;
	height: 1.7em;
}

.icon.home {
	content: url('emoticon-cool.svg');
}

.icon.profile {
	content: url('emoticon-cool.svg');
}

.icon.messages {
	content: url('emoticon-cool.svg');
}

.icon.history {
	content: url('emoticon-cool.svg');
}

.icon.tasks {
	content: url('emoticon-cool.svg');
}

.icon.communities {
	content: url('emoticon-cool.svg');
}

.icon.settings {
	content: url('emoticon-cool.svg');
}

.icon.support {
	content: url('emoticon-cool.svg');
}

.icon.privacy {
	content: url('emoticon-cool.svg');
}

button.icon {
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	background-color: inherit;
	border: none;
}

button.icon::after {
	content: url('emoticon-cool.svg');
}
